<a href="https://colab.research.google.com/github/monarche-hasrsha/py_revision_-scaler/blob/main/Py_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task:
Take a string input from user and print it character by character, each on a new line.

In [ ]:
a = input()
print()
for i in a:
  print(i)

Harsha

H
a
r
s
h
a

#Task:
Take a string input and print:

First Character - <first_character>, Last Character - <last_character>

In [ ]:
a = input()
print(f"First Char -{a[0]}, Last char - {a[-1]}")

Harsha
First Char -H, Last char - a

#Task:-

Show proof that strings are immutable!

In [ ]:
s = "INDIA_IS_MY_COUNTRY"
# Strings are immutable, so we cannot reassign a value to a specific character.
s[0] = "R"

TypeError: 'str' object does not support item assignment

In [ ]:
# if you want to change the first charachter, you'd do something like this.
s = "INDIA_IS_MY_COUNTRY"
new_s = "R" + s[1:]
print(new_s)

RNDIA_IS_MY_COUNTRY

#Task:
Count the number of uppercase characters in a string.

**Method 1** :-

> Use ord()

In [ ]:
a = "This is a RANDOM strinG 67890, ^$#@"
def count_upper_case(a):
  count = 0
  for i in a:
    if ord(i) >= 65 and ord(i) <= 90:
      count += 1
  return count

count_upper_case(a)

8

**Method 2** :-
> use .isupper()

In [ ]:
a = "This is a RANDOM strinG 67890, ^$#@"
def count_upper_case(a):
  count = 0
  for i in a:
    if i.isupper():
      count += 1
  return count

count_upper_case(a)

8

#Task:
You‚Äôre given a list of numbers between 1 and 256. Convert them into characters and form a string.



> Example:

> Input: [65, 97, 68] ‚Üí Output: "Aad"

Using chr() (reverse of ord()).

In [ ]:
a = [56, 8, 103, 157, 22, 22, 24, 10, 100]

def convert_string(a):
  s = ''
  for i in a:
    s += chr(i)
  return s

convert_string(a)

'8\x08g\x9d\x16\x16\x18\nd'

**Method 2** - Using list + "".join()

In [ ]:
a = [56, 8, 103, 157, 22, 22, 24, 10, 100]

def convert_string(a):
  result = []
  for i in a:
    result.append(chr(i))
  return "".join(result)

convert_string(a)

'8\x08g\x9d\x16\x16\x18\nd'

#Task 5:



Given a string of comma-separated numbers, convert it into a list of integers.



> Example:
>"56,78,99,101" ‚Üí [56, 78, 99, 101]

In [ ]:
a ="56,78,99,101"
def turn_string_toint_to_list(a):
  list_a = a.split(",")
  result = []
  for i in list_a:
      result.append(i)
  return result

turn_string_toint_to_list(a)

['56', '78', '99', '101']

['56', '78', '99', '101']

In [ ]:
a ="56,78,99,101"
list_a = a.split(",")
print(list_a)

['56', '78', '99', '101']

#Task:
Convert a string to lowercase without using any inbuilt function like .lower().

In [ ]:
def custom_lower_case(s):
  result = ''
  for i in s:
      if ord(i) >= 65 and ord(i) <= 90:
          order = ord(i)
          order = order + 32
          result = result + chr(order)
      else:
          result  = result + i
  return result

custom_lower_case("HaRsHa")

'harsha'

#Task 7:
Replace all spaces in a string with underscores.



> string = "this is a random string"

> string = "this_is_a_random_string"

In [ ]:
def change_to_underscore(s):
  result = ''
  for i in s:
    if i.isspace():
      result = result+ "_"
    else:
      result += i
  return result

In [ ]:
change_to_underscore("This is a random strng")

'This_is_a_random_strng'

# Big Picture: Concepts You‚Äôve Touched

You‚Äôve already hit a lot of core string concepts:

* Iterating through strings using for i in s

* Indexing: s[0], s[-1]

* Immutability of strings

* ASCII / Unicode basics using ord() and chr()

* String methods:

   * .isupper()

   * .isspace()

   *   .split()

   * .replace()

   * "".join()

* Building strings:

   * Direct concatenation (s = s + char)

   * Efficient list + join pattern

This is all heavily used in **data cleaning, text preprocessing, parsing logs, NLP**, and even in basic coding interviews. So yeah, this is career-relevant as hell.

# Mini Quizz

####QUESTION 1 ‚Äî MINI QUIZ

**(Topic: looping through a string character by character)**

**1Ô∏è‚É£ Easy**

Write a Python loop that prints each character of the string "Scaler" on a new line.

In [ ]:
s = "Scaler"
for i in s:
  print(i)

S
c
a
l
e
r

**2Ô∏è‚É£ Medium**

Print each character of the input string along with its index, formatted like:

```
# This is formatted as code
0 S
1 c
2 a
.... so onn
```

In [ ]:
s = "Scaler"
index = -1
for i in s:
   index += 1
   print(f"{index} {i}")

0 S
1 c
2 a
3 l
4 e
5 r

**2nd method :- recomended method**

In [ ]:
for index, char in enumerate("Harsha"):
    print(index, char)

0 H
1 a
2 r
3 s
4 h
5 a

**3Ô∏è‚É£ Hard**

From an input string, print only the vowels, one per line, in the same order they appear.

In [ ]:
def only_vowels(v):
  print("The vovels from the given input are:")
  for i in v:
    if i in ["a","e","i","o","u","A","E","I","O","U"]:
      print(i)

only_vowels("Harsha Vardhan")

The vovels from the given input are:
a
a
a
a

**2nd method :- recomended method**

In [ ]:
def only_vowels(v):
  print("The vovels from the given input are:")
  for i in v:
      vowels = "aeiouAEIOU"
      if i in vowels:
        print(i)

only_vowels("Harsha Vardhan")

The vovels from the given input are:
a
a
a
a

#### üìå QUESTION 2 ‚Äî MINI QUIZ
**1Ô∏è‚É£ Easy**

Take the string:
```
s = "PYTHON"
```

Write code to print:
```
First character: P
Last character: N
```

(Use indexing only.)

In [ ]:
def first_and_last(n):
    print(f"first charecter {n[0]}")
    print(f"second charecter {n[-1]}")

first_and_last("Harsha")

first charecter H
second charecter a

**2Ô∏è‚É£ Medium**

Take a string input from the user and print its second-last character.

Example:
```
Input ‚Üí "Scaler"
Output ‚Üí "e"
```

(No slicing like s[-2:] ‚Äî only direct indexing.)

In [ ]:
def second_last_word(s):
    print(s[-2])

In [ ]:
def second_lasttt_word(s):
    for index, char in enumerate(s):
        if index == len(s) - 2:  # but why -2 why not -1 ?oh cause index starts from 0
           print(char)
second_lasttt_word("Harsha")

h

**3Ô∏è‚É£ Hard**

Without using .replace() or overwriting a character directly (because strings are immutable),
change the first character of the string "HELLO" to "Y" **by constructing a new string.**

Expected output:
```
YELLO
```

In [ ]:
word = "HELLO"
new_word = "Y" + word[1:]
print(new_word)

YELLO

####üìå QUESTION 3 ‚Äî MINI QUIZ
**1Ô∏è‚É£ Easy**

Write a function that counts how many uppercase letters are in the string:
```
"ScALeR"
```

(Use either ord() logic or .isupper().)
```
Expected output:
4
```

**Method 1 :-**

In [ ]:
def count_upper(w):
  count = 0
  for i in w:
      if ord(i) >= 65 and ord(i)<= 90:
          count += 1
  return count

count_upper("ScALeR")

4

**Method 2 :-**

In [ ]:
def count_upper(w):
  count = 0
  for i in w:
      if i.isupper():
          count += 1
  return count

count_upper("ScALeR")

4

**2Ô∏è‚É£ Medium**

Write a function that counts how many characters in a string are NOT alphabets.

Example:
```
Input: "This is 100% fun!"
Output: 5
```

(Characters like digits, spaces, punctuation should be counted.)

>Hint: use .isalpha()

In [ ]:
def notalpha(a):
    count = 0
    spaces = 0
    for i in a:
        if i.isalpha() == False:
            count += 1
    return int(count - spaces)

notalpha("This is 100% fun!")

8

**3Ô∏è‚É£ Hard**

Write a function that returns both:

* Number of uppercase letters

* AND their positions in the string

Example:

```
Input: "AbC12D"
Output:
Count = 3
Positions = [(0, 'A'), (2, 'C'), (5, 'D')]
```



> Return the positions as a list of tuples.

In [ ]:
def no_pos(a):
  count = 0
  positions = []
  for index,char in enumerate(a):
    if char.isupper():
      count +=1
      positions.append((index,char))
  print(f'count = {count}')
  print("Positions = ", positions) # got this one wrong as idont know ow to insert a multiple tupples

In [ ]:
no_pos("AbC12D")

count = 3
Positions =  [(0, 'A'), (2, 'C'), (5, 'D')]

####üîπ QUESTION 4 ‚Äî MINI QUIZ
**1Ô∏è‚É£ Easy**

You‚Äôre given:
```
codes = [65, 66, 67]
```

```
Write a function codes_to_string(codes) that returns the string:

"ABC"
```

Use a loop and chr().

In [ ]:
def codes_to_string(codes):
  new_word = ''
  for i in codes:
    new_word += chr(i)
  return new_word

codes_to_string([65, 66, 67])

'ABC'

**2Ô∏è‚É£ Medium**

You‚Äôre given a list that may contain non-printable ASCII codes (anything < 32):
```
codes = [10, 65, 66, 7, 67, 13]
```

Write a function that:

* Converts only the codes ‚â• 32 into characters

* Ignores the rest

* Returns the final string
```
Expected result for that list:

"ABC"
```

In [ ]:
def only_ASCII(word):
  new_word = ''
  for i in word:
    if 32 <= i <= 126 :
      new_word += chr(i)
  return new_word

only_ASCII([10, 65, 66, 7, 67, 13])

'ABC'

**3Ô∏è‚É£ Hard**

```
#You‚Äôre given:

codes = [65, 98, 101, 120, 73]
```

Write a function that:

* Converts the list to characters

* After every vowel (a, e, i, o, u; both cases),
* you also add a '-' to the string.

```
#So for the example list, the output string should be:

"A-be-xI-"
```

In [ ]:
def convert_char(codes):
  word = ''
  new_word = ''
  vowels = "aeiouAEIOU"
  for i in codes:
    if 32 <= i <= 126:
      word += chr(i)
  for i in word:
    if i in vowels:
      new_word += i + '-'
    else:
      new_word += i
  return new_word

convert_char([65, 98, 101, 120, 73])

'A-be-xI-'

###üìå QUESTION 5 ‚Äî MINI QUIZ

(Topic: converting comma-separated strings ‚Üí list of integers)

**1Ô∏è‚É£ EASY**

```
You‚Äôre given:

s = "10,20,30"
```

Write a function that:

* Splits this string by commas

* Converts each part into an integer

* Returns the list

```
Expected output:

[10, 20, 30]
```

In [ ]:
def tolist(s):
  li = s.split(',')
  result = []
  for i in  li:
    result.append(int(i))
  return result
tolist("10,20,30")

[10, 20, 30]

**2Ô∏è‚É£ MEDIUM**

Handle messy spaces:
```
s = " 10 ,  20,30 ,   40 "
```

Write a function that:

* Removes extra spaces

* Converts all numbers properly

* Returns
```
[10, 20, 30, 40]
```

In [ ]:
def remove_spaces(s):
  li = s.split(',')
  result = []
  for i in li:
    result.append(int(i.strip()))
  return result

remove_spaces(" 10 ,  20,30 ,   40 ")

[10, 20, 30, 40]

**3Ô∏è‚É£ HARD**

>You‚Äôre given:
```
s = "10,20,a,40,xyz,50"
```

Write a function that:

* Splits the string by commas

* Converts only the valid numbers

* Ignores non-numeric parts ("a", "xyz" etc.)

* Returns the cleaned list of integers


>Expected output:
```
[10, 20, 40, 50]
```

>(Big hint: .isdigit() won‚Äôt work for negatives ‚Äî think bigger.)

In [ ]:
def filter_and_convert_numbers(s):
  parts = s.split(',')
  result = []
  for part in parts:
    stripped_part = part.strip()
    try:
      num = int(stripped_part)
      result.append(num)
    except ValueError:
      # Ignore non-numeric parts
      pass
  return result

s = "10,20,a,40,xyz,50"
print(filter_and_convert_numbers(s))

[10, 20, 40, 50]

# üìå QUESTION 6 ‚Äî MINI QUIZ

(Topic: converting to lowercase manually, without using .lower())

**1Ô∏è‚É£ EASY**

>Write a function that converts one uppercase character to lowercase using ASCII logic.

```
Example:

Input: 'A'
Output: 'a'
```

>(Hint: lowercase_code = uppercase_code + 32)

In [ ]:
word = 'A'
order = 0
result = ''
if ord(word) >= 32 and ord(word) <= 90:
  order = ord(word)
  order += 32
  result += chr(order)
print(result)

a

**2Ô∏è‚É£ MEDIUM**

>Write a function:  custom_lower(s)


that takes a string and returns a fully lowercased version, without using .lower().

Example:
```
Input: "ThiS Is A TeST"
Output: "this is a test"
```

You must:

* Use ASCII ranges (65‚Äì90)

* Only convert uppercase ‚Üí lowercase

* Leave all other characters unchanged

In [ ]:
def custom_lower(s):
  result = ''
  order = 0
  for i in s:
    if ord(i) >= 65 and ord(i) <= 90:
      order = ord(i)
      order += 32
      result += chr(order)
    else:
      result += i
  return result

custom_lower("ThiS Is A TeST")

'this is a test'

**3Ô∏è‚É£ HARD**

>Modify your custom lowercase function so that digits are replaced with *.


Example:
```
Input: "A1B2c3"
Output: "a*b*c*"
```

Rules:

* Uppercase ‚Üí convert to lowercase

* Lowercase ‚Üí keep

* Digits ‚Üí replace with *

* Any other character ‚Üí keep as is

In [ ]:
def replace_digits(s):
  result = ''
  for i in s:
    if ord(i) >= 65 and ord(i) <= 90:
      result += chr(ord(i)+32)
    elif ord(i) > 90 and ord(i) <= 122:
      result += i
    else:
      result += "*"
  return result

replace_digits("A1B2c3")

'a*b*c*'

# üìå QUESTION 7 ‚Äî MINI QUIZ

(Topic: replacing spaces + whitespace handling)

**1Ô∏è‚É£ EASY**

> Write a function:
```
replace_spaces(s)
```

That replaces every space " " in the string with an underscore "_".

>Example:
```
Input: "this is fun"
Output: "this_is_fun"
```

Only replace spaces, not tabs or newlines.

In [ ]:
def replace_spaces(s):
  nw= ''
  for i in s:
    if i == " ":
      nw += "_"
    else:
      nw += i
  return nw

replace_spaces("this is fun")

'this_is_fun'

**2Ô∏è‚É£ MEDIUM**

> Write a function:
```
replace_all_whitespace(s)
```

That replaces all types of whitespace (space, tab \t, newline \n) with underscores.

You must use **.isspace().**

>Example:
```
Input: "hey\tbro how\nare you"
Output: "hey_bro_how_are_you"
```

In [ ]:
def replace_all_whitespace(s):
  nw= ''
  for i in s:
    if i.isspace():
      nw += "_"
    else:
      nw += i
  return nw

replace_spaces("hey\tbro how\nare you")

'hey_bro_how_are_you'

**3Ô∏è‚É£ HARD**

> Write a function:
```
preserve_space_count(s)
```

That:

* Replaces every space " " with "_"

* BUT preserves the number of spaces exactly

> Example:
```
Input: "a   b"
Output: "a___b"
```

> Another example:
```
Input: "hi     there"
Output: "hi_____there"
```

Note: You cannot use .replace(" ", "_") here ‚Äî do it manually

In [ ]:
def preserve_space_count(s):
  nw= ''
  for i in s:
    if i == " ":
      nw += "_"
    else:
      nw += i
  return nw

replace_spaces("hi     there")

'hi_____there'

#Nice. Strings module: **cleared.**

You‚Äôve covered:

* Looping through strings

* Indexing + immutability

* Counting uppercase + non-alphas

* ord() / chr() conversions

* Splitting + cleaning comma strings

* Manual lowercase using ASCII

* Whitespace handling with .isspace() and " "

This is exactly the level you need for  interviews.

#For now, log this as done in your brain and chill a bit.